root {
--c-black: #212121;
--c-white: #FFFFFF;
--c-grey: #757575;
--c-blue: #2196F3;
}

*::before,
*::after {
  box-sizing: border-box;
}

.body {
list-style-type: none;
font-family: Roboto;
color: #212121;
}

.container{
    width: 1200px;
padding: 0 15px;
margin: 0 auto;
}
.link {
font-family: Roboto;
font-style: 500;
font-weight: 500;
color: #212121;
line-height: 16px;
}

.link:hover{
    font-family: Roboto;
    font-weight: 500;
    width: 77px;
    color: #2196F3;
}

.link :not(:last-child){
  margin-right: 50px;  
}



.logo {
font-family: Raleway;
color:#212121;
font-size: 26px;
line-height: 31px;
margin-right: 93px;
}

.web-end-two, .map,.end-contacts, .logo, .logo-end, .site-nav-lis, .ctn, .web-one, .link, .web-two, .end {
text-decoration: none;
}

.web-one{
color: #2196F3;
 }

.head {
border-bottom: 1px solid #ECECEC;
padding: 24px 0;
}

.head-container{
display: flex;
align-items: center;
}
.link-current{
color:#2196F3;
}

.ctn {
font-family: Roboto;
font-weight: 500;
color: #757575;
width: 135px;
margin-right: 50px;
}

.ctn :last-child {
    margin-right: 0px;
}

.ctn:hover {
font-family: Roboto;
font-weight: 500;
color: #2196F3;
width: 135px; 
}

.site-nav-list {
font-family: Roboto;
font-weight: 500;
color: #212121;
list-style-type: none;
display: flex;
flex-direction: row;
list-style: none;
margin: 0;
padding: 0;
}
.site-nav-list:hover {
font-family: Roboto;
font-weight: 500;
color: #2196F3;
}

.title{
width: 696px;
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 60px;
margin-left: auto;
margin-right: auto;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
margin-top: 0;
margin-bottom: 30px;
}

.title-items{
    margin-left: auto;
    margin-right: auto;
}

.hero {
background-color: #2F303A;;
padding-top: 200px;
padding-bottom: 200px;
}
.hero-elements {
    text-align: center;
}
.btn-items {
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: #2196F3;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 22px;
    margin-left: auto;
margin-right: auto;
}

.contacts {
    display: flex;
    margin-left: auto;
}


.menu-text{
display: flex;
list-style-type: none;
align-items: flex-start;
margin-top: 0px;
}

.text-item{
width: 270px;
color: #212121;
font-size: 14px;
line-height: 16px;
margin-right: 30px;
}
.text-item :not(:last-child){
    margin-right: 30px;
}
.text-elements{
font-family: Roboto;
font-weight: 400;
width: 270px;
color: #757575;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
align-items: flex-start;
}

.text-elements-title{
font-family: Roboto;
font-weight: 700;
color: #212121;
align-items: flex-start;
margin-bottom: 10px;
}

.foto-elements{
display: flex;
flex-direction: column;
}

.foto_title {
width: 380;
margin: 0px auto;
text-align: center;
font-family: Roboto;
font-style: 700;
color: #212121;
font-size: 36px;
line-height: 42px;
}

.foto-picture{
    margin-right: 30px;
}
.foto-picture :last-child{
    margin-right: 0px;
}

.menu-foto{
list-style-type: none;
display: flex;
width: 1170px;
height: 386px;
align-items: center;
margin-top: 0px;
margin-bottom: 0px;
}

.site-nav-list {
    font-family: Roboto;
    font-weight: 500;
    color: #212121;
}
.site-nav-list :not(:last-child){
    margin-right: 30px;
}


.team-title {
font-family: Roboto;
font-style: 700;
color: #212121;
width: 264px;
font-size: 36px;
line-height: 42px;
margin: 0px auto;
}

.team-menu{
list-style-type: none;
display: flex;
margin: 0px auto;
}

.team-foto{
width: 270px;
}

.team-foto :last-child{
    margin-right: 0px;
}
.team-foto :not(:last-child){
margin-right: 30px;
}

.name{
font-family: Roboto;
font-weight: 500;
color: #212121;
font-size: 16px;
line-height: 19px;
margin: 0px auto;
}

.work{
font-family: Roboto;
color: #757575;
font-size: 16px;
line-height: 19px;
margin: 0px auto;
}


.end{
font-family: Roboto;
background: #212121;
text-decoration: none;
list-style-type: none;
padding-top: 60px;
padding-bottom: 60px;
}

.logo-end {
font-family: Raleway;
font-size: 26px;
line-height: 31px;
text-decoration: none;
margin-left: 35px;
}

.web-end-two {
    color: #FFFFFF;
    text-decoration: none;
}

.end-contakts{
font-style: 400;
font-family: Roboto;
background-color: #212121;
font-size: 14px;
line-height: 24px;
text-decoration: none;
list-style-type: none;
}

.map{
    list-style-type: none;
font-family: Roboto;
color: #FFFFFF;
width: 231px;
}

.end-contacts {
list-style-type: none;
font-family: Roboto;
width: 231px;
color: rgba(255, 255, 255, 0.6);
}

.end-contacts:hover {
    font-family: Roboto;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);  
}

.button_portfolio {
    margin-left: 475px;
    margin-right: 475px;
}

.product-elements{
display: flex;
flex-wrap: wrap;
list-style-type: none;
}

.product_name{
font-family: Roboto;
width: 322px;
font-weight: 700;
color: #212121;
font-size: 18px;
line-height: 36px;
}

.product_tape{
font-family: Roboto;
font-weight: 4000;
width: 322px;
color: #757575;
font-size: 16px;
line-height: 30px;
}

.btnp{
align-items: center;
flex-direction: row;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: #F5F4FA;
color: #212121;
margin-right: 8px;
margin-top: 94px;
}
.btnp:last-child {
    margin-right: 0px    
}

.btnp:hover {
flex-direction: row;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: #2196F3;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}
.prod {
    border: 1px solid #ECECEC;
    margin-right: 30px;
    margin-bottom: 30px;
}

.ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 31px;
    padding-left: 0;
    }

    .timef {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .h1, .h2, .h3, .p, .ul, .li, .contacts {
        list-style: none;
    }
    .info {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .adresa {
        font-style: normal;
    }