:root {
  --body-color: #212121;
  --bgr-color: #2f303a;
  --white-color: #ececec;
  --blue-color: #2196f3;
  --max-white-color: #ffffff;
  --gray-color: #757575;
  --two-white-color: #f5f4fa;
}

body {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  color: var(--body-color);
}
*, *::before, *::after {
    box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: var(--max-white-color);
}
.link {
  font-family: Roboto;
  font-weight: 500;
  color: var(--body-color);
  line-height: 16px;
}
.link:hover,
:focus {
  font-family: Roboto;
  font-weight: 500;
  width: 77px;
  color: var(--blue-color);
}

.ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 31px;
}

.logo {
  font-family: Raleway;
  color: var(--body-color);
  font-size: 26px;
  line-height: 31px;
  margin-right: 93px;
}

.web-end-two,
.map,
.end-contacts,
.logo,
.logo-end,
.site-nav,
.contacts-link,
.web-one,
.link,
.web-two,
.end {
  text-decoration: none;
}

.web-one {
  color: var(--blue-color);
}

.head {
  border-bottom: 1px solid var(--white-color);
  padding: 24px 0;
}

.head-container {
  display: flex;
  align-items: center;
}

.link-current {
  color: var(--blue-color);
}

.contacts-link {
  font-weight: 500;
  color: var(--gray-color);
  width: 135px;
}
.contacts-link:not(:last-child) {
  margin-right: 50px;
}
.contacts-link:hover,
:focus {
  font-weight: 500;
  color: var(--blue-color);
  width: 135px;
}
.site-nav {
  list-style-type: none;
  font-weight: 500;
  color: var(--body-color);
    display: flex;
  flex-direction: row;

}
.site-nav:hover,
:focus {
  font-family: Roboto;
  font-weight: 500;
  color: var(--blue-color);
}

.site-nav :not(:last-child) {
  margin-right: 50px;
}
.title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--max-white-color);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--body-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/);
}
.hero-elements {
  text-align: center;
}
.button_portfolio {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}

.battons {
  background: var(--blue-color);
  color: var(--max-white-color);
  font-size: 16px;
  line-height: 30px;
   padding: 6px 22px;
  margin-left: auto;
  margin-right: auto;
}
.contacts {
  list-style-type: none;
  display: flex;
  color: var(--gray-color);
}

.contacts :not(:last-child) {
  margin-right: 30px;
}

.text-container {
  display: flex;
  text-decoration: none;
  align-items: flex-start;
  margin-top: 0px;
  padding-top: 94px;
}

.menu-text {
  display: flex;
  list-style-type: none;

}

.text-item {
  width: 270px;
  color: var(--body-color);
  font-size: 14px;
  line-height: 16px;
  display: list-item;
}

.content-element {
  text-decoration: none;
}

.text-elements {
  font-weight: 400;
  width: 270px;
  color: var(--gray-color);
  font-size: 14px;
  line-height: 24px;
  align-items: flex-start;
}

.text-elements-title {
  font-family: Roboto;
  font-weight: 700;
  color: var(--body-color);
  text-decoration: none;
  align-items: flex-start;
  margin-bottom: 10px;
}
.foto-elements {
  display: flex;
  flex-direction: column;
   padding-top: 94px;
  padding-bottom: 94px;
}
.foto_title {
  width: 370;
  margin: 0px auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-style: 700;
  color: var(--body-color);
  font-size: 36px;
  line-height: 42px;
}
.menu-foto {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.site-nav {
  font-weight: 500;
  color: var(--body-color);
}
.site-nav :not(:last-child) {
  margin-right: 50px;
}
.team {
  background: var(--two-white-color);
    padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-style: 700;
  color: var(--body-color);
 font-size: 36px;
  line-height: 42px;
  margin: 0px 0px 50px 0px;
  text-align: center;
}

.team-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
   padding-left: 0px;
  margin: 0px auto;
}

.info :not(:last-child) {
  margin-right: 30px;
}

.team-foto {
  width: 270px;
}
.name {
  font-weight: 500;
  color: var(--body-color);
  font-size: 16px;
  line-height: 19px;
   margin: 0px auto;
}
.work {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 19px;
   margin: 0px auto;
}

.end {
  background: var(--body-color);
  text-decoration: none;
  list-style-type: none;
    padding-top: 60px;
  padding-bottom: 60px;
}
.active {
  color: var(--blue-color);
}
.logo-end {
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  margin-bottom: 30px;
}

.web-end-two {
color: var(--max-white-color);
text-decoration: none;
}

.end-contakts {
  width: 231px;
  background-color: var(--body-color);
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  list-style-type: none;
}
.map {
  list-style-type: none;
  color: var(--max-white-color);
   width: 231px;
}
.end-contacts {
  list-style-type: none;
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
}

.end-contacts:hover,
:focus {
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
}
.product {
  padding-top: 94px;
  padding-bottom: 94px;
}


.product-elements {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
    margin-left: -30px;
  margin-top: -30px;
}
.product-name {
  font-weight: 700;
  color: var(--body-color);
  font-size: 18px;
  line-height: 36px;
}
.product-tape {
  font-family: Roboto;
  font-weight: 4000;
  color: var(--gray-color);
  font-size: 16px;
  line-height: 30px;
}
}
.button-portf {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: var(--two-white-color);
  color: var(--body-color);
  display: flex;
  justify-content: center;
}
.butyon-portf:hover,
:focus {
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: var(--blue-color);
  color: var(--max-white-color);
}
.btnp-li:not(:last-child) {
  margin-right: 8px;
}

.prod {
  list-style: none;
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
}
.prod_text {
  padding: 20px 24px;
  border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
}
.adresa {
  font-style: normal;
}

.text-item:not(:last-child) {
  margin-right: 30px;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-foto :not(:last-child) {
  margin-right: 30px;
}

.end-time {
  padding: 30px 32px;
  text-align: center;
}
img {
  display: block;
}
.name-b {
  margin-bottom: 0px;
}